$main-color: #6baa6c;
$secondary-color: #325e33;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$pink-color: #ab6c89;
$pink-color-hover: #5e2942;

$light-green-gradient: linear-gradient(45deg, rgb(107, 170, 108, 0.45), rgb(181, 247, 182, 0.45));
$green-gradient: linear-gradient(45deg, rgb(50, 94, 51, 0.45), rgb(107, 170, 108, 0.45));
$purple-gradient: linear-gradient(45deg, rgb(94, 41, 66, 0.45), rgb(171, 108, 137, 0.45));
$green-gradient-solid: linear-gradient(45deg, rgb(50, 94, 51), rgb(107, 170, 108));
$light-green-gradient-solid: radial-gradient(circle at top right, rgb(50, 94, 51) 0%, rgb(107, 170, 108) 100%);
